{% load static %}


<!DOCTYPE html>
<html lang="es">

<head>




  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-80FQB637GL"></script>

  <meta name="description"
    content=" Olvin Darte Programador Web en Euskadi, toda España,Costa Rica y Nicragua, Desarrollador de paginas web, (Re) diseño de páginas web, tiendas online y posicionamiento SEO, info@olvinduarte.com">
  <meta name="keywords"
    content=" Olvin Duarte, Desarrollo web, Euskadi, España, Nicaragua, Costa Rica, diseño web, desarrollo de aplicaciones, sitios web, programación web, desarrollo de software">
  <meta name="author" content="">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Olvin Duarte - Desarrollo WEB Euskadi Costa Rica Nicaragua</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Sofadi+One&display=swap"
    rel="stylesheet">

  <!--esto es leafles para mapas-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <!--termina los de los mapas-->

  <!--este codigo es para una prueeba de las tecnologias-->
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <!--termina el codigop de prueba de las tecnologias-->

  <style>
    @media (max-width: 768px) {
      .navbar {
        background-image: url('{% static "img/icon-1379228_1280.png" %}');
        background-size: cover;
        background-position: 60px;
      }
    }


    .cambioDeFoto {
      background-size: cover;
      background-position: center;
      background-image: url('{% static "img/man" %}');
      height: 600px;
      background-color: #2d3250;
    }

    .cambioDeFoto:hover {
      background-size: cover;
      background-position: center;
      background-image: url('{% static "img/bussiness.png" %}');
      height: 600px;
      background-color: #2d3250;
    }
  </style>


</head>

<body class="body">
  <!--aca inicia el Menú-->

  <nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">

    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active dancing-script" style="font-size: 17px" aria-current="page" href="#"
              id="colorNav"><b>Olvin
                Duarte</b></a>
          </li>
          <!--enlaces en el navbar-->
          <li class="nav-item">
            <a class="nav-link" href="#Inicio" id="colorNav"><b>Inicio</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#Servicio" id="colorNav"><b>Servicio</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sobremi" id="colorNav"><b>Sobre mí</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="#Contact" id="colorNav"><b>Contacto</b></a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <!--Fin del menú-->

  <!--aca inicia la parte de la presentaciona despues del menu-->

  <div class="container">

    <div class="row" style="background-color: #2d3250;">

      <div class=" col-md-6 col-sm-12 text-white p-3 text-center">

        <h3 id="olvinPresentacion"><i style="color: #f9b079 ;">OLVIN DUARTE</i></h3>
        <h5><i>FULL STACK DEVELOPER</i></h5>
        <hr>
        <p id="presentacionParrafo"><i>¿Quieres un sitio web que no solo <br> se vea bien, sino que también<br> funcione
            de
            manera
            excepcional? <br><br>¡Contáctame
            hoy mismo!</i>
        </p>



        <!--div row para el boton de solicita tu cotizacion-->

        <a href="#Contact" class="text-center">
          <button type="button" class="btn  w-50 text-center  mt-5" id="boton-solicitud">
            Solicita tu cotización
          </button>
        </a>

        <div>
          <img class="click-mano lazy" src="{% static 'img/click.png' %}" style=" border-radius: 30px;" />
        </div>

      </div>
      <!--fin div row de el boton de solicita tu cotizacion-->


      <div class="col-md-6 col-sm-12 cambioDeFoto">

      </div>


    </div>
  </div>


  <!--aca termina la parte del menu o presentacion-->

  <!--aca es el apartado del boton solicita tu presupuesto depues de lña presentacion que esta depuezs del menu-->



  <!--fin div row-->

  <!--<div class="container">
    <div class="row p-5" style="background-color: white">

      <div class="col-lg-12 col-md-12 col-sm-12">
        <p style="font-size: 23px;" class="radio-canada">
          La importancia de tu página web en el ámbito de tu
          <b>imagen online es innegable</b>, ya que puede reforzarla,
          consolidarla o perjudicarla significativamente. Permíteme
          <b>destacar la relevancia de tener la mejor página web posible</b>.
          Esto es algo que todos nosotros, como usuarios de la web, aplicamos a
          diario. <br /><br />
          Contar con una
          <b>página web que sea funcional, eficiente y rentable no es una
            opción, sino una necesidad</b>
          crucial para cualquier empresa, especialmente para las pequeñas
          empresas.
          <br />
          <br />
          Mis
          <b>servicios de diseño web están diseñados para satisfacer todas las
            necesidades</b>

          que puedan surgir en el contexto de un pequeño negocio. Ya sea que
          necesites una presencia en línea sencilla o desees planes
          personalizados de posicionamiento y marketing en línea para atraer un
          mayor flujo de clientes, estoy aquí para ayudarte.
        </p>
      </div>
    </div>
  </div>-->
  <!--aca es el apartado de los portafolios-->
  <section class="page-section" id="portfolio"
    style="background-color: #0e0d0d;padding-top: 100px;padding-bottom: 120px;margin-top: 100px;">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase mt-5" style="color:#f9b079;">Portfolio</h2>
        <h3 class="section-subheading text-white">¡Hecha un vistazo!</h3>
      </div>
      <br><br><br>

      <div class=" portfolio-carousel-container">
        <div class="portfolio-carousel">


          <!-- Portfolio numero 1-->


          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;" href="https://www.euskodev.eus/es/Sun%20And%20Surf">
              <div class="portfolio-img"
                style="background-image: url('{% static "portfolio/sun-and-surf/img/tablas4.jpg" %}');">
              </div>

              <div class="portfolio-caption">
                <h4>Sun And Surf</h4>
                <p class="text-muted">Web</p>
              </div>
          </div>
          </a>

          <!--segundo portafolio-->

          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;" href="https://www.euskodev.eus/es/Atenea%20Gastronomica">
              <div class="portfolio-img"
                style="background-image: url('{% static "portfolio/atenea-gastronomica/assets/img/portada.png" %}');">


              </div>
              <div class="portfolio-caption">
                <h4>Atenea Gastronómica</h4>
                <p class="text-muted">Web</p>
              </div>
          </div>

          </a>

          <!--tercer portafolio-->

          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;"
              href="https://www.euskodev.eus/es/La%20Maison%20du%20Bordeaux">
              <div class="portfolio-img"
                style="background-image: url('{% static "portfolio/la-maison-du-bordeaux/assets/img/chocolates-06.jpg" %}');">

              </div>
              <div class="portfolio-caption">
                <h4>La Maison du Bordeaux</h4>
                <p class="text-muted">Web</p>
              </div>
          </div>
          </a>


          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;" href="https://www.euskodev.eus/es/La%20Fortuna%20Trip">
              <div class="portfolio-img"
                style="background-image: url('{% static "portfolio/la-fortuna-trip/assets/img/inicio/lafortunaportada.jpg" %}');">

              </div>

              <!--cuarto portafolio-->

              <div class="portfolio-caption">
                <h4>La Fortuna Trip</h4>
                <p class="text-muted">Web</p>
              </div>
          </div>
          </a>
          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;" href="https://www.euskodev.eus/es/De%20Mi%20Tierra">
              <div class="portfolio-img"
                style="background-image: url('{% static "portfolio/de-mi-tierra/assets/img/hero-bg.jpg" %}');"></div>

              <div class="portfolio-caption">
                <h4>De Mi Tierra</h4>
                <p class="text-muted">Web</p>
              </div>
          </div>
          </a>
          <!--quinto portafolio-->

          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;" href="https://www.euskodev.eus/es/">
              <div class="portfolio-img" title="desarrollo web en toda euskadi"
                style="background-image: url('{% static "/img/euskodev.webp" %}');"></div>

              <div class="portfolio-caption">
                <h4>Euskodev</h4>
                <p class="text-muted">Web + Design</p>
              </div>
          </div>
          </a>

          <!--sexto portafolio-->
          <div class="portfolio-item">
            <a style="text-decoration: none; color: black;" href="https://www.euskodev.eus/es/Sun%20And%20Surf">
              <div class="portfolio-img" title="la gastronomia en todo el mundo, comidas y sabores"
                style="background-image: url('{% static "img/gastrogune.webp" %}');">
            </a>
          </div>
          <div class="portfolio-caption">
            <h4>Gastrogune</h4>
            <p class="text-muted">Web + Design + App</p>
          </div>
        </div>

        <!--septimo portafolio-->
        <div class="portfolio-item">
          <div class="portfolio-img lazy"
            style="background-image: url('{% static "img/textosakidetza.png" %}'); background-size:200px; background-position: center; background-repeat:no-repeat;">
          </div>

          <div class="portfolio-caption">
            <h4>20.000+</h4>
            <p class="text-muted">Oposiciones</p>

            <!-- Add more items as needed -->
          </div>
        </div>
  </section>


  <!--aca terminara el apartado de los portafolios-->

  <div class="container mt-5">
    <!--inicio de container-->
    <div class=" row pt-5">

      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <h1 class="titulos" id="Servicio">Servicios</h1>
      </div>

    </div>

    <!--fin de container-->

    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 pt-5">
        <br><br><br><br>
        <label for="olvin duarte desarrollo web"><img class="w-100 lazy" src="{% static 'img/responsive2.webp' %}"
            style="border-radius: 30px;" alt="¿qué es responsive? ¿cómo hacer respinsivfe mi página?"></label>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div style=" width:30px; height:25px; background-color:#161e31; border-radius: 6px;" class="mt-3 mb-3">
        </div>

        <h1 class="titulos">Diseño web personalizado</h1>
        <p>Adquiere un diseño web exclusivo, adaptado y totalmente ajustado a tu
          identidad.
          Puedo ayudarte
          a construir
          un proyecto web utilizándo las mejores prácticas y con estándares modernos
          .</p>
        <div style=" width:30px; height:25px; background-color: #161e31;border-radius: 6px;" class="mt-5 mb-3">
        </div>

        <h1 class="titulos">Diseño web responsive</h1>
        <p>

          En todos mis proyectos, garantizo una adaptación total de tu página web a cualquier medio
          para ofrecer una mejor experiencia a tus usuarios, ya sea desde un ordenador, tablet o móvil.</p>
        <div style=" width:30px; height:25px; background-color:#161e31;border-radius: 6px;" class="mt-5 mb-3">
        </div>

        <h1 class="titulos">Rediseño de sitios web</h1>
        <p>

          ¿Quieres modernizar tu página web?. Innovar desde la optimización de funcionalidades hasta el aspecto
          visual, para aumentar la obtención de resultados en tu sitio web, es mi principal característica
          .</p>

      </div>
      <div class="col-lg2 col-md-12 col-sm-12"></div>





    </div>

    <div class="row mt-5">
      <div class="col-lg-2 col-md-12 col-sm-12"></div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div style="width:30px; height:25px; background-color: #161e31; border-radius: 6px;" class="mt-3 mb-3">
        </div>

        <h1 class="titulos">Optimización para SEO</h1>
        <p>Es muy importante conseguir que tu sitio web obtenga visibilidad y visitas
          cualificadas mediante los buscadores. Mediante estrategias sólidas de optimización SEO puedo ayudarte
          a
          tener mayor relevancia en la web
          .</p>
        <div style=" width:30px; height:25px; background-color:#161e31;border-radius: 6px;" class="mt-5 mb-3">
        </div>

        <h1 class="titulos">Optimización de velocidad web</h1>
        <p>

          A nadie le gusta visitar páginas web que tardan mucho tiempo en cargar. Me encargo de resolver
          problemas
          de
          rendimiento
          en tu sitio web, para que no pierdas usuarios a causa de una página web lenta.</p>
        <div style=" width:30px; height:25px; background-color:#161e31;border-radius: 6px;" class="mt-5 mb-3">
        </div>

        <h1 class="titulos">Medidas de seguridad</h1>
        <p>

          Es importante proteger tu sitio web y disminuir las brechas de seguridad para evitar pérdida o robo de
          datos, mediante la implementación de cabeceras HTTP, puedo ayudarte a hacer más segura tu página web
          .</p>

      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 ">

        <br><br><br><br>
        <img class="w-100 lazy" src="{% static 'img/velocidad.webp' %}"
          title="aumenta la velocidad de tus citios web sin perder el tráfico" style="border-radius: 30px;"
          alt="Desarrollo web en donostia san sebastian-responsive y web veloz">

      </div>
      <div class="col-2 col-md-12 col-sm-12"></div>





    </div>


    <div class="row mt-5">

      <div class="col-lg-6 col-md-12 col-sm-12"> <br><br><br><br>
        <img class="w-100 lazy" src="{% static 'img/hosting2.webp' %}" title="Hosting y alojamientoo para webs"
          style="border-radius: 30px;" alt="hosting y dominio para tu web en gipuzkoa"></div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div style=" width:30px; height:25px; background-color:#161e31; border-radius: 6px;" class="mt-3 mb-3">
        </div>

        <h1 class="titulos">Correo corporativo</h1>
        <p>Crear un correo eléctronico con el nombre de tu negocio o empresa, te provee
          de
          mayor relevancia para comunicarte en cualquier momento de forma segura, confiable y efectiva
          con tus clientes.</p>
        <div style=" width:30px; height:25px; background-color:#161e31;border-radius: 6px;" class="mt-5 mb-3">
        </div>

        <h1 class="titulos">Cloud hosting</h1>
        <p>Si ya tienes un proyecto web utilizando servicios anticuados de hosting,
          puedo
          ayudarte a migrar cualquier tipo de plataforma a una infraestructura moderna, segura y escalable
          .
        </p>
        <div style=" width:30px; height:25px; background-color:#161e31;border-radius: 6px;" class="mt-5 mb-3">
        </div>

        <h1 class="titulos">Registro de dominios</h1>
        <p class="mb-5">

          El primer paso para llevar a tu marca a internet es a través de un dominio. Dale un toque de
          exclusividad
          a
          tu negocio con un dominio personalizado. ¡Consulta el tuyo ahora mismo!</p>

      </div>


    </div>
    <div class="col-lg-2 col-md-12"></div>

  </div>


  <!--aca tinicia el apartado sobre mi-->



  <div class="container-fluid  pb-5s" style="background-color: #221d1d;">



    <div class=" row mb-5 pt-5">

      <div class="col-lg-12  col-md-12 col-sm-12 text-center">
        <h1 class="tituloSobremi" id="sobremi">Sobre mí</h1>

        <!--<h1 class="h3">Have Turned Their Ideas Into Winning Websites</h1>-->

      </div>

    </div>


    <!--aca termina el parrafo sobre mi-->
    <div class="row" style="padding-top: 50px; padding-bottom: 90px;">


      <div class="col-lg-2 col-md-12 col-sm-12"></div>

      <div class="col-lg-5 col-md-12 col-sm-12 text-center p-5">

        <h1 style="color: #f9b079;"><i>Olvin Duarte</i></h1>
        <h2 class="mb-5" style="color: #77bfc2;font-size: 25px;"><i>Web Developer</i></h2>


        <p class=" radio-canada-big-<uniquifier> regular" style=" font-size: 20px; text-align: left;">¡Hola!
          Soy Olvin, "un
          apasionado de la tecnología", me
          encanta crear soluciones innovadoras
          para mejorar la experiencia de los usuarios en línea, tengo la capacidad para diseñar y
          desarrollar citios web de alta calidad y funcionales...Siempre estoy aprendiendo nuevas técnicas,
          para mantenerme actualizado en un campo tan cambiante.</p>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 ">

        <div class="w-100 p-5 lazy"
          style="background-image: url('{% static "img/olvin.jpg" %}'); background-size: cover; height: 500px; border-radius: 30px;">

          <div class="w-100 text-center fotoolvin lazy"
            style="background-image: url('{% static "img/olvin.jpg" %}'); height: 400px; padding-top: 300px;">

          </div>

        </div>

        <!--<img class="w-100" src="images/olvin.jpg" style="border-radius:50%;">-->
      </div>

      <div class=" col-lg-2 col-md-12 col-sm-12"></div>

    </div>


  </div>

  <!--aca termina el apartado sobre mi-->


  <!--aca inicia el apartado para las tecnologías que utilizo-->

  <!-- Carrusel de Tecnologías Automático -->
  <div class="carousel-container mt-5">
    <div class="carousel m-3">
      <!-- Iconos de Tecnologías -->
      <div class="carousel-item">
        <i class="fab fa-html5"></i>
        <span>HTML</span>
      </div>
      <div class="carousel-item">
        <i class="fab fa-css3-alt"></i>
        <span>CSS</span>
      </div>
      <div class="carousel-item">
        <i class="fab fa-python ml-"></i>
        <span>Python</span>
      </div>
      <div class="carousel-item">
        <i class="fab fa-js"></i>
        <span>JavaScript</span>
      </div>
      <div class="carousel-item">
        <i class="fab fa-bootstrap"></i>
        <span>Bootstrap</span>
      </div>
      <div class="carousel-item">
        <i class="fab fa-github"></i>
        <span>GitHub</span>
      </div>
      <div class="carousel-item">
        <i class="fab fa-python"></i>
        <span>Django</span>
      </div>
      <div class="carousel-item">
        <i class="fas fa-code"></i>
        <span>GSAP</span>
      </div>
      <div class="carousel-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>Leaflet</span>
      </div>
    </div>
  </div>
  <!--aca termina el apartado o carousel de las tecnologias que utilizo-->

  <!--aca inicia el formulario de contactar-->

  <div class="container" style="padding-bottom: 100px; background-color: #161e31; background-size: cover;">

    <div class=" row mb-5 p-5 mt-5">

      <div class="col-lg-12 col-md-12 col-sm-12 text-center ">
        <h1 class="mb-4" id="Contact" style="color: #f9b079;">Contacto</h1>

      </div>

    </div>

    <div class="row mt-5">

      <!--la frase contacto esta aparte-->

      <div class="col-lg-6 col-md-12 col-sm-12 m-0 mr-0">
        <form class=" p-3" style="border-radius:15px;">
          <div class="form-group">
            <!--<label for="exampleFormControlInput1">Email</label>-->
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escribe tu correo*">
          </div>
          <br>

          <div class="form-group">
            <!--<label for="exampleFormControlSelect1">Selecciona una opción</label>-->
            <select class="form-control" id="exampleFormControlSelect1">
              <option selected disabled>seleccionar</option>
              <option>1 Creación de paginas web</option>
              <option>2 Diseño gráfico</option>
              <option>3 Dominios</option>
              <option>4 Diseño web</option>
              <option>4 Hosting</option>
              <option>4 Landing page</option>
              <option>4 Posicionamiento</option>
              <option>4 Tiendas online</option>
              <option>5 Otros servicios...</option>
            </select>
          </div>
          <br>

          <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Escribe tu mensaje</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Escribe tu consulta"></textarea>
          </div>
          <br>
          <button type="button" class="btn btn-outline-dark w-100" style="background-color:#f9b079"><b>Enviar</b>
          </button>
        </form>
      </div>


      <!--aca termina la parte del formulario de contactar-->


      <!--aca inicia el video depues de el apartado de contactar-->

      <div class="col-lg-6 col-md-12 col-sm-12">
        <video class="w-100" autoplay muted loop playsinline style="border-radius: 50px;height: 400px;">
          <source src="{% static 'videorobot.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>

      <!--aca itermina el video depues de el apartado de contactar-->



    </div>
  </div>





  <!--aca inicia la seccion de mapas-->

  <div class="container-fluid" style="background-color:#221d1d;">

    <!--este es el div del mapa-->
    <div class="row pb-5">

      <h2 style="color: #f9b079; margin-top: 70px; margin-bottom: 70px;" class="text-center"><u><i>TU WEB SIN
            COMPLICACIONES</i></u></h2>

      <!--primer mapa-->

      <div class="col-lg-4 text col-md-12 p-3 text-center" style="color: #77bfc2;">
        <h3 class=""><i>Euskadi</i></h3>
        <div class="w-100" id="map" style="height: 300px">
        </div>
      </div>

      <!--segundo mapa-->

      <div class="col-lg-4 text col-md-12 p-3 text-center" style="color: #77bfc2;">
        <h3 class=""><i>Nicaragua</i></h3>
        <div class="w-100" id="map2" style="height: 300px">
        </div>
      </div>

      <!--ultimo mapa-->

      <div class="col-lg-4 text col-md-12 p-3 text-center" style="color: #77bfc2;">
        <h3 class=""><i>Costa Rica</i></h3>
        <div class="w-100" id="map3" style="height: 300px">
        </div>
      </div>


    </div>


  </div>

  <!--aca termina ela seccion de mapas -->

  <div class="container mt-5 ">

    <div class=" row text-center">

      <div class=" col col-lg-6 col-md-12" style="color: white; font-size: 23px;">

        <label style="color: #f9b079;">info@olvinduarte.com</label>
        <label style="color: #f9b079;">www.olvinduarte.com</label>
        <label style="color: #f9b079;">Euskadi (País Vasco)</label>
        <br><br>

        <p>
          <a href="{% url 'home_app:aviso_legal'  %}" class="text-white"
            style="text-decoration: none;font-size: 23px;">Aviso
            legal</a> |
          <a href="{% url 'home_app:politica-de-cookies'  %}" class="text-white"
            style="text-decoration: none;font-size: 23px;">Cookies</a> |


          <a href="{% url 'home_app:politica-de-privacidad'  %}" class=" text-white"
            style="text-decoration: none;font-size: 23px;">Política de privacidad</a>

        </p>

      </div>
    </div>



    <!--este es el codigop para la prueba de las tecnologias-->

    <script src="{% static 'carousel.js' %}"></script>

    <!--aca termina el codigo para la prueba de las tecnologias-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!--estos son los codigos de leaflet para los mapas de ubucasion-->
    <script>
      //Euskadi
      var map = L.map('map').setView([42.92471085566681, -2.224726126989571], 7);

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      var marker = L.marker([43.31815747804332, -1.9811787439768613]).addTo(map);
    </script>

    <script>
      //Nicaragua
      var map2 = L.map('map2').setView([12.114982075245731, -86.23655551332077], 7);

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map2);

      var marker2 = L.marker([12.114982075245731, -86.23655551332077]).addTo(map2);
    </script>

    <script>
      //Costa Rica
      var map3 = L.map('map3').setView([9.928779589424872, -84.0906867099021], 7);

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map3);

      var marker3 = L.marker([9.928779589424872, -84.0906867099021]).addTo(map3);
    </script>

    <!--estos son los códigos para que funcionesleaflet para los mapas de la ubicasion-->



</body>

</html>